{
  "semi": true, // Thêm dấu chấm phẩy ở cuối dòng
  "singleQuote": true, // Sử dụng dấu nháy đơn cho chuỗi
  "printWidth": 80,
  "tabWidth": 2, // Số khoảng trắng cho mỗi tab
  "useTabs": false,
  "trailingComma": "es5", // Thêm dấu phẩy ở cuối phần tử cuối cùng của mảng hoặc đối tượng
  "bracketSpacing": true
}